$whiteColor: #f3f3f3;
$blackColor: #202020;
$grayColor: #272727;
$backgroundColor: $blackColor;
$textColor: $whiteColor;
$altTextColor: $blackColor;
$accentColor: #5050e3;
$altAccentColor: #7190e6;

$shadow: 0 2px 5px rgba($blackColor, 0.2);
$strongShadow: 0 2px 7px rgba($blackColor, 0.5);

$opacity: 0.8;

$borderRadius: 8px;
$bigBorderRadius: 20px;

$transitionTime: 0.2s;
$longTransitionTime: 0.6s;