@font-face {
	font-family: 'Poppins';
	src: url(../../public/fonts/Poppins-Medium.woff2);
	font-weight: 500;
}
@font-face {
	font-family: 'Poppins';
	src: url(../../public/fonts/Poppins-ExtraLight.woff2);
	font-weight: 200;
}