@use 'reset-css';
@use './fonts.scss';
@use './variables.scss' as vars;

:root {
    background-color: vars.$backgroundColor;
	color: vars.$textColor;
	font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
	
:focus-visible {
	outline: 2px solid vars.$whiteColor;
	outline-offset: 5px;
}

h1 {
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 1.3;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.3;
}

p {
	font-size: 1rem;
	line-height: 1.3;
}

input, textarea {

	&:focus-visible {
		outline: 2px solid vars.$accentColor;
		outline-offset: 0px;
	}

	&:hover {
		opacity: vars.$opacity;
	}
}

textarea {
	resize: none;
}

a, button, input, textarea {
    font-family: 'Poppins', sans-serif;
	cursor: pointer;

	&:disabled {
		pointer-events: none;
		opacity: vars.$opacity;
	}
}

// @media (max-width: 750px) {
	
// 	:root {
// 		display: block;
// 	}

// 	#root {
// 		width: auto;
// 	}

// 	h1 {
// 		font-size: 2rem;
// 	}

// 	p {
// 		font-size: 0.9rem;
// 	}
// }