@use 'reset-css';
@use './fonts.scss';
@use './variables.scss' as vars;

:root {
    background-color: vars.$backgroundColor;
    color: vars.$textColor;
	font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
	
:focus-visible {
	outline: 2px solid vars.$accentColor;
	outline-offset: 5px;
	border-radius: vars.$borderRadius;
}

h1 {
	font-size: 2.6rem;
	font-weight: 500;
}

p {
	font-size: 1rem;
	line-height: 1.3;
}

// a, button {
// 	cursor: pointer;
// }

// button {
//     font-family: 'Barlow Semi Condensed', sans-serif;
//     font-size: 0.8rem;
// }

// @media (max-width: 750px) {
	
// 	:root {
// 		display: block;
// 	}

// 	#root {
// 		width: auto;
// 	}

// 	h1 {
// 		font-size: 2rem;
// 	}

// 	p {
// 		font-size: 0.9rem;
// 	}
// }