@use './../variables.scss' as vars;
@use './../mixins' as mixins;

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.list {
	min-height: 100px;
	width: 800px;
	max-width: 95%;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: vars.$whiteColor;
	color: vars.$altTextColor;
	border-radius: vars.$bigBorderRadius;
	overflow: hidden;

	&Label {
		font-weight: 700;
	}

	&Items {
		width: 100%;

		&Empty {
			text-align: center;
			margin-top: 30px;
		}
	}

	&Add {
		position: fixed;
		right: 50px;
		bottom: 50px;
		z-index: 1;

		button {
			@include mixins.button();
			@include mixins.icon-btn();
			width: auto;
			border-radius: 30px;
			padding: 30px;
			box-shadow: vars.$strongShadow;

			p {
				margin-right: 10px;
			}
			
			svg {
				@include mixins.icon();
			}
		}
	}
}